---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "settings",
        "foundation"
;

// Give "me specific" overrides and styles

$sand: #805C15;

footer {
  background: none repeat scroll 0 0 $jet;
  color: $iron;
  a {
    color: $iron;
  }
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $snow;
    }
  }
}

.meta {
  color: $steel;
}

%dark-bg {
  color: $smoke;
  h1, h2, h3, h4, h5, h6 {
    color: $white-smoke;
  }
  li a {
    color: $smoke;
  }
}

.dark-sand-bg {
  background-color: #553900;
  @extend %dark-bg;
}

.dark-star-bg {
  background-color: #550000;
  @extend %dark-bg;
}

.dark-sky-bg {
  background-color: #003333;
  @extend %dark-bg;
}

.extra-whitespace {
  padding: 2rem 0;
}

.top-bar-section ul li > a.contact.button {
  background-color: $sand;
}

aside {
  padding-top: 2rem;
}
