---
layout: page
title: Projects
permalink: /projects/
---

<div class="projects">

  <ul class="project-list">
    {% for project in site.projects %}
      <li>
        <h2 class="project-title">
          <a class="project-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h2>
        <span class="project-meta">{{ project.start_date | date: "%B %Y" }} - {% if project.end_date %}{{ project.end_date | date: "%B %Y" }}{% else %}Current{% endif %}</span>
      </li>
    {% endfor %}
  </ul>

</div>
