<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        {% assign blog = true %}
        {% for page in site.pages %}
          {% if page.title %}
            {% unless blog == false and page.title == "Blog" %}
              <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              </li>
              {% if page.title == "Blog" %}
                {% assign blog = false %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </section>

  </nav>

</header>
