---
layout: default
---
<div class="project">

  <header class="project-header">
    <h1 class="project-title">{{ page.title }}</h1>
    {% if page.start_date %}
      <p class="project-start-date"><strong>Started:</strong> {{ page.start_date | date: "%b %-d, %Y" }}</p> 
    {% endif %}
    {% if page.end_date %}
      <p class="project-end-date"><strong>Ended:</strong> {{ page.end_date | date: "%b %-d, %Y" }}</p>
    {% endif %}
  </header>

  {% if page.image.url %}
    <div class="project-image">
      <img src="{{ page.image.url }}" alt="{{ page.image.alt }}" />
    </div>
  {% endif %}

  {% if page.major_features %}
    <ul class="project-major-features">
      {% for feature in page.major_features %}
        <li class="project-feature">{{ feature }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <article class="project-description">
    {{ content }}
  </article>

</div>
