---
layout: default
---
<h1>{{ page.title }}</h1>
{% if page.start_date %}
  <p><strong>Started:</strong> {{ page.start_date | date: "%B %Y" }}</p>
{% endif %}
{% if page.end_date %}
  <p><strong>Ended:</strong> {{ page.end_date | date: "%B %Y" }}</p>
{% endif %}

{% if page.image.url %}
  <img src="{{ page.image.url | prepend: site.baseurl}}" alt="{{ page.image.alt }}" />
{% endif %}

{% if page.major_features %}
  <h2>Major Features</h2>
  <ul>
    {% for feature in page.major_features %}
      <li>{{ feature }}</li>
    {% endfor %}
  </ul>
{% endif %}

{{ content }}
